<% layout("layouts/boilerplate")%>
  <div class="row">
      <h2 class="col-6 offset-3 mt-3">SignUp on wandhaus</h2>
    <div class="col-6 offset-3">
        <form method="post" action="/signup" class="needs-validation" novalidate>
     <div>
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username"required>
        <div class="invalid-feedback">
            Please select a valid title.
         </div>
         <div class="valid-feedback">
            looks good1.
         </div>
      </div>
        <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email"required>
        <div class="invalid-feedback">
            Please select a valid title.
         </div>
         <div class="valid-feedback">
            looks good1.
         </div>
      </div>
        <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"required>
        </div>
        <button class="btn btn-success mt-2">signUp</button>
     </form>
    </div>
  </div>